[submodule "dailyfeed-app-helm"]
	path = dailyfeed-app-helm
	url = https://github.com/alpha3002025/dailyfeed-app-helm
[submodule "dailyfeed-infrastructure"]
	path = dailyfeed-infrastructure
	url = https://github.com/alpha3002025/dailyfeed-infrastructure
